@import '../../assets/colors/Colors.module.scss';

nav {
    height: auto;
    background-color: $primaryColor;
    position: fixed;
    width: 100%;
}

.iconContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

@media screen and (min-width: 768px){
    nav {
        display: none;
    }
}