@import '../../../assets/colors/Colors.module.scss';

.cardContainer{
    width: 130px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 3px 8px 1px #E9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardImg{
    margin-top: 20px;
}

.cardTitle, .cardBtn{
    margin-top: 15px;
}

.cardDesc{
    margin-top: 5px;
}

.cardTitle{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.cardBtn{
    background: $primaryColor;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    box-shadow: 0px 3px 8px 1px #E9e9e9;
}