@import '../../assets/colors/Colors.module.scss';

.page{
    padding-top: 50px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.searchBarContainer{
    width: 100%;
    height: auto;
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.searchBar{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 3px 8px 1px #E9e9e9;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

input[type = "text"]{
    border: none;
}

input[type = "text"]:focus{
    outline: none;
}

.listContainer{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    margin-bottom: 30px;
}

.totalPokeContainer{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.totalPokeAndSearchBarContainer{
    display: flex;
    flex-direction: column;
}

.loadMoreBtn{
    text-align: center;
    margin: auto;
    background: $primaryColor;
    width: 170px;
    border-radius: 50px;
    padding: 6px 0 6px 0;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    box-shadow: 0px 3px 8px 1px #E9e9e9;
}

@media screen and (min-width: 768px) {
    .listContainer {
        grid-template-columns: 25% 25% 25% 25%;
    }
}